.list__item {
    margin: 10px 0;
    border: 1px solid #6F6F6F;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
    line-height: 29px;
    display: grid;
    grid-template-columns: auto 10px 10px 10px;
    grid-column-gap: 30px;
    padding: 0 45px;
    align-items: center;
    min-height: 110px;
}
