.title {
    position: relative;
    margin: 0 auto 48px;
    font-size: 60px;
    line-height: 93px;
    text-align: center;
    font-weight: 900;
}

.title::before {
    content: '';
    position: absolute;
    background-image: url('../../images/jpegsystems-home.jpg');
    background-size: cover;
    left: -40px;
    width: 40px;
    height: 40px;
}
